@media (min-width: 768px) {
  .pos-esso {
    .row {
      .col-sm {
        flex: 1 0 0%;
      }
      .col-1 {
        flex: 25;
      }
      .col-2 {
        flex: 50;
      }
    }
  }
}

@media (min-width: 576px) {
  .layout-screen {
    display: flex;
    height: 100%;

    .col-left {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-right {
      flex: 0 0 50%;
      max-width: 50%;
      background-color: green;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }
}
