@media (min-width: 768px) {
  .pos-esso {
    .row {

      .col-sm {
        flex: 1 0 0%;
      }
      .col-1 {
        flex: 25;
      }
      .col-2 {
        flex: 50;
      }
    }
  }
}
@media (min-width: 576px) {
  
}
