$header-height: 72px;
$header-bg: #eaf5f9;
$sidebar-header-bg: #eaf5f9;
$sidebar-header-height: 72px;
$sidebar-min: 72px;
$sidebar-max: 426px;
$sidebar-gap: 10px;
$sidebar-padding: 16px;

$gap: 16px;

.color-pimary {
  color: #2d2d70;
}

.pos-esso-layout {
  display: grid;
  /* height: 100%; */
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sb hd"
    "sb main";
}

.pos-esso-header {
  grid-area: hd;

  height: $header-height;
  background: $header-bg;
}

.pos-esso-sidebar {
  grid-area: sb;
  height: 100%;

  .pos-esso-sidebar {
  }

  background: #ffffff;
  box-shadow: 0px 4px 6px #e5e5e5, 0px 0px 1px rgba(33, 37, 41, 0.32);
  width: $sidebar-min;

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 200;

  &.is-active {
    width: $sidebar-max;

    .sidebar-nav {
      padding: 16px;
    }
    .sidebar-nav-link {
      gap: 16px;
      padding: 12px 16px;
    }
    .sidebar-nav-text {
      display: block;
    }
  }

  .sidebar-header {
    background-color: $sidebar-header-bg;
    padding: $sidebar-padding;
  }
  .sidebar-body {
    flex: 1;
    overflow-y: auto;
  }
  .sidebar-footer {
    height: $sidebar-header-height;
    padding: $sidebar-padding;
  }

  .hamberger-menu {
    width: 40px;
    height: 40px;
    background-image: url(./icons/hamberger-menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    &:hover {
      background-color: #fff;
      // border-radius: 50%;
    }
  }
}

.pos-esso-main {
  grid-area: main;
  height: calc(100vh - $header-height);
  padding: 24px;
  overflow: auto;

  .jmix-workarea {
    display: block;

    > div {
      padding: 0;
    }
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;

  border-radius: 16px;
}

.sidebar-nav-link:hover {
  background-color: #eaf5f9;
}

.sidebar-nav-link.active {
  background-color: #3750a1;
  color: #fff;
}

.sidebar-nav-icon {
  width: 38px;
  height: 38px;
  display: flex;
  justify-items: center;
  align-items: center;

  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;

  &.home {
    background-image: url(./icons/home.png);
  }
  &.Discount {
    background-image: url(./icons/Discount.png);
  }
  &.Paid-Bill {
    background-image: url(./icons/Paid-Bill.png);
  }
  &.Settings {
    background-image: url(./icons/Settings.png);
  }
  &.report {
    background-image: url(./icons/report.png);
  }
}

.sidebar-nav-text {
  flex: 1;
  display: none;
}

.screenContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - $header-height);
  overflow-y: auto;
  padding: 16px;
}
/**
*
*/
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px rgba(104, 120, 171, 0.14),
    0px 2px 1px rgba(104, 120, 171, 0.12), 0px 1px 3px rgba(104, 120, 171, 0.2);
}
.cardHeader {
  padding: 16px;
  background: #eaf5f9;
  /* Shadow/1dp */

  border-radius: 8px 8px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  gap: 8px;

  &.is-active .cardHeaderArrow {
    transform: rotate(-180deg);
  }
}

.cardContent {
  background: #ffffff;
  /* Shadow/1dp */

  box-shadow: 0px 1px 1px rgba(104, 120, 171, 0.14),
    0px 2px 1px rgba(104, 120, 171, 0.12), 0px 1px 3px rgba(104, 120, 171, 0.2);
  border-radius: 0px 0px 8px 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
    max-width: 100%;
  }
}

.cardHeaderTitle {
  font-family: "IBM Plex Sans Thai";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  line-height: 40px;
}
.cardHeaderArrow {
  width: 40px;
  height: 40px;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./icons/Arrow-Sort-Small.png);
}


.layout-screen {

  // div {
  //   display: block;
  // }
  
  .table-layout {
    display: flex;
    flex-direction: column;

    .table {
      flex: 1;
      background-color: #f2f2f2;
    }

    .filters {
      display: flex;
      flex-direction: column;
      gap: $gap;
      padding: $gap;
    }

    .filter-row {
      display: flex;
      gap: $gap;


      .filter-input {
        background: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 14px 16px;
        height: 56px;
        display: block;
      }

      button {
        background: #3750a1;
        border: 1px solid #3750a1;
        border-radius: 8px;
        height: 56px;
        padding: 16px;
      }
    }
  }

  .flex-1 {
    flex: 1;
  }
  .filter-box {
    white-space: break-spaces;
    overflow: hidden;
    display: flex;
    max-width: fit-content;
  }

  .empty-box {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    min-width: 200px;
  }
}


