@import "cpf-defaults";
// @import "addons";
@import "cpf";

.cpf {
  // @include addons;
  @include cpf;
}

.pos-esso {
  .jmix-headline-container{
    display: none;
  }
  .jmix-workarea {
    box-shadow: none;
  }
  .jmix-app-window-wrap{
    padding: 0;
  }

  @import "pos-esso";
}

@import "pos-esso-responsive";
